@{
    ViewData["Title"] = "Index";
}
<h2 class="text-center text-uppercase">Contact</h2>
<p class="mt-5 text-center">Please contact us via the platform below</p>
<div class="flex-column">
    <a href="https://instagram.com/MiftahulHuda23_">Instagram : MiftahulHuda23</a>
    <a>Email : miftahul21si@mahasiswa.pcr.ac.id</a>
</div>
